In [2]:
import geopandas as gpd

In [3]:
shppath = "/Users/gollapudi.vyshnavi/Downloads/Point_4888_UID_2/point_4888_UID_2.shp"

In [4]:
gdf = gpd.read_file(shppath)
gdf.head(5)

,OBJECTID,FeatureNam,FeatureSta,FeatureRou,NFID,NDIST,NANG,Division,MPLength,RouteName,...,RouteCla,RouteQua,RouteInv,Direction,TravelDir,lat,lon,SyncID,UniqueID,geometry
0,1,Traffic-Lights,Overhead,29600070051,311564,0.000053,12.014184,4,0.183846,US-70 BUS,...,US Route,Business Route,Non-Inventory (Westbound),Westbound,One Direction,35.608886,-78.416653,60ca94e1-8823-1a28-6271-c7c0b6dfc139,29600070051_40001913051_40002832051,MULTIPOINT (-78.41665 35.60889)
1,2,Traffic-Lights,Overhead,29600070051,311564,0.000015,-167.985816,4,0.183846,US-70 BUS,...,US Route,Business Route,Non-Inventory (Westbound),Westbound,One Direction,35.608898,-78.416585,c0ee56d4-a4bd-951b-3198-cf435a1c38df,29600070051_40001913051_40002832051,MULTIPOINT (-78.41659 35.60890)
2,3,Traffic-Lights,Overhead,29600070051,311564,0.000050,-167.985816,4,0.183846,US-70 BUS,...,US Route,Business Route,Non-Inventory (Westbound),Westbound,One Direction,35.608902,-78.416550,493400b1-84e7-3159-9824-b4a5ee98256f,29600070051_40001913051_40002832051,MULTIPOINT (-78.41655 35.60890)
3,4,Traffic-Lights,Overhead,29600070051,311564,0.000098,-167.985816,4,0.183846,US-70 BUS,...,US Route,Business Route,Non-Inventory (Westbound),Westbound,One Direction,35.608908,-78.416502,dc208f94-4f8c-1637-8ae4-966e88b4c4de,29600070051_40001913051_40002832051,MULTIPOINT (-78.41650 35.60891)
4,5,Traffic-Lights,Overhead,29600070051,311564,0.000104,-167.985816,4,0.183846,US-70 BUS,...,US Route,Business Route,Non-Inventory (Westbound),Westbound,One Direction,35.608909,-78.416497,8d168dcd-690b-f9e2-e7c0-cda4059b1a3d,29600070051_40001913051_40002832051,MULTIPOINT (-78.41650 35.60891)

UniqueID	FeatureNam	FeatureSta	Count
10000026011_80004996011_40002148011	drop_inlet	Blocked	2
10000026011_80004996011_40002148011	Mile marker	Open	1

In [5]:
gdf.describe()

,OBJECTID,NFID,NDIST,NANG,Division,MPLength,BeginMp1,EndMp1,MaxMp1,Shape_Leng,lat,lon
count,30703.000000,30703.000000,3.070300e+04,30703.000000,30703.000000,30703.000000,30703.000000,30703.000000,30703.000000,30703.000000,30703.000000,30703.000000
mean,15352.000000,244589.125786,3.740536e+02,2.106839,7.735498,0.351029,7.951664,8.302692,16.050924,0.005700,35.679564,-79.773263
std,8863.336994,85800.986154,1.123499e+04,82.655982,4.437593,0.523845,7.784059,7.831188,11.272362,0.008539,0.236454,2.103612
min,1.000000,19.000000,4.100000e-09,-179.995471,3.000000,0.000119,0.000000,0.009000,0.017438,0.000002,35.165810,-82.889869
25%,7676.500000,199863.000000,4.436221e-05,-48.321024,4.000000,0.086264,1.430430,1.710283,4.462000,0.001391,35.523268,-82.194390
50%,15352.000000,274745.000000,7.176338e-05,0.000000,4.000000,0.170000,5.454433,5.850000,14.721637,0.002746,35.650829,-78.370056
75%,23027.500000,312180.000000,1.018520e-04,59.045585,13.000000,0.362925,12.817679,13.233229,26.654481,0.005956,35.796129,-77.934581
max,30703.000000,342033.000000,3.418660e+05,179.982256,14.000000,4.717376,42.290494,42.630597,48.245911,0.080708,36.475008,-77.373907

In [6]:
gdf.nunique()

OBJECTID      30703
FeatureNam        2
FeatureSta        5
FeatureRou     1038
NFID           6868
NDIST         30660
NANG          19875
Division          4
MPLength       5763
RouteName       713
StreetName     1216
RouteMaint        1
RouteID        1038
BeginMp1       6294
EndMp1         6696
BeginFeatu     4860
EndFeature     4929
MaxMp1          996
Shape_Leng     6868
MaintCnt         15
LocCntyC         15
RouteCla          4
RouteQua          7
RouteInv          3
Direction         7
TravelDir         2
lat           30640
lon           30660
SyncID        30703
UniqueID       6872
geometry      30701
dtype: int64

In [7]:
gdf.shape

(30703, 31)

In [8]:
type(gdf)

geopandas.geodataframe.GeoDataFrame

In [9]:
type(gdf['UniqueID'])

pandas.core.series.Series

In [26]:
data = gdf[['UniqueID','FeatureNam','FeatureSta']]

In [27]:
data.head(4)

                              UniqueID      FeatureNam FeatureSta
0  29600070051_40001913051_40002832051  Traffic-Lights   Overhead
1  29600070051_40001913051_40002832051  Traffic-Lights   Overhead
2  29600070051_40001913051_40002832051  Traffic-Lights   Overhead
3  29600070051_40001913051_40002832051  Traffic-Lights   Overhead

In [28]:
data = data.groupby(['UniqueID','FeatureNam','FeatureSta']).size().reset_index(name="Count")

In [29]:
data.head(5)

                              UniqueID FeatureNam  FeatureSta  Count
0  10000026011_10000026045_40003539011     Gutter  Under-cons      6
1  10000026011_30600146011_30000146011     Gutter        Open      1
2  10000026011_40003482011_70000901011     Gutter        Open      2
3  10000026011_40003495011_80004922045     Gutter     Blocked      3
4  10000026011_40003495011_80004922045     Gutter        Open      2

In [30]:
data.to_csv("output.csv")